/* Universal Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.5rem;
}

/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
