/* Universal Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 83%;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

.container {
  margin: 1rem auto;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
  align-items: stretch;
}

img {
  border-radius: 50%;
}

/* Typography */
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

h3 {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(300, 24%, 96%);
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

span {
}

/* Heading Section */
.heading {
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading p {
  color: hsl(303, 10%, 53%);
}

/* Ratings Section */
.ratings {
  grid-column: 7 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ratings div {
  padding-left: 2rem;
  width: 85%;
  height: 3rem;
  background-color: hsl(300, 24%, 96%);
  display: flex;
  align-items: center;
}

.ratings p {
  margin-left: 2rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

#top {
  align-self: flex-start;
}

#bottom {
  align-self: flex-end;
}

/* Review Section */
.reviews {
  grid-template-rows: repeat(12, 20px);
}

#start {
  grid-row: 1 / span 10;
  grid-column: 1 / 5;
}

#middle {
  grid-row: 2 / span 10;
  grid-column: 5 / 9;
}

#end {
  grid-row: 3 / span 10;
  grid-column: 9 / 13;
}

.card {
  padding: 1rem;
  height: 200px;
  background-color: hsl(300, 43%, 22%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.details p {
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

.card q {
  margin-top: 1.5rem;
  color: hsl(300, 24%, 96%);
}

/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
