/* Universal Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 85%;
  font-size: 15px;
}

.container {
  margin: 1rem auto;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;
  align-items: stretch;
}

img {
  border-radius: 50%;
}

/* Heading Section */
.heading {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Ratings Section */
.ratings {
  grid-column: 7 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#top {
  align-self: flex-start;
}

#bottom {
  align-self: flex-end;
}

/* Review Section */
.reviews {
  grid-template-rows: repeat(12, 20px);
}

#start {
  grid-row: 1 / span 10;
  grid-column: 1 / 5;
}

#middle {
  grid-row: 2 / span 10;
  grid-column: 5 / 9;
}

#end {
  grid-row: 3 / span 10;
  grid-column: 9 / 13;
}

.card {
  padding: 1rem;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.card q {
  margin-top: 1.5rem;
}

/* Attribution Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
